<header id="layout-header">
    <nav>
        <div class="head">

                    <a href='/' class="mini-logo">
                        Wohoo!
                    </a>

            <div class="auth-links">
                <nav id="header-items">
                    <ul>
                        <% if (locals.user){ %>
                            <li>
                                <a href="/friends">Friends</a>
                            </li>
                            <li>
                                <a href="/users/profile/<%=user.id %>">
                                    <%= user.name %>
                                </a>
                            </li>
                            <li>
                                <a href="/users/sign-out">Sign Out</a>
                            </li>
                            <% }else{ %>
                                <li>
                                    <a href="/users/Sign-In">Sign In</a>
                                </li>
                                <li>
                                    <a href="/users/Sign-Up">Sign Up</a>
                                </li>
    
                                <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>




</header>